<div class="col s10 m10 l10" id="footer">
  <img src="./images/Facebook.png" alt="" style="width:30px; height:30px">
  <img src="./images/Pinterest.png" alt="" style="width:30px; height:30px">
  <img src="./images/Twitter.png" alt="" style="width:30px; height:30px">
</div>
